# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log